@tailwind base;
@taliwind components;
@tailwind utilities;

body {
    background: url(resources/images/pillars.png) no-repeat center/cover;
}

#side,
main,
nav {
    border-color: rgba(255, 255, 255, .1);
}

#side,
nav {
    background-color: rgba(255, 255, 255, .02);
}

main {
    background-color: rgba(255, 255, 255, .05);
}

#rows {
    height: 89%;
}

.trailer {
    border-radius: 12px;
    height: 8rem;
    transition: all 0.3s;
}

.trailer footer {
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
}

.trailer footer button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
}

#search {
    background-color: rgba(255, 255, 255, .15);
}

#mainWrap {
    min-height: 600px;
}

#trailers {
    justify-self: end;
}

#trailerOne {
    background: url(resources/images/barbie.jpg) no-repeat center/cover;
}

#trailerTwo {
    background: url(resources/images/oppenheimer.jpg) no-repeat center/cover;
}

#trailerThree {
    background: url(resources/images/elemental.jpg) no-repeat center/cover;
}

#popOne {
    background: url(resources/images/breaking-bad.jpg) no-repeat center/cover;
    transition: transform 0.5s;
}

#popTwo {
    background: url(resources/images/foundation.jpg) no-repeat center/cover;
}

#popThree {
    background: url(resources/images/game-of-thrones.png) no-repeat center/cover;
}

#popFour {
    background: url(resources/images/stranger-things.jpg) no-repeat center/cover;
}

#contOne {
    background: url(resources/images/expanse.jpg) no-repeat center/cover;
}

#contTwo {
    background: url(resources/images/mankind.jpg) no-repeat center/cover;
}

#contThree {
    background: url(resources/images/starwars.jpg) no-repeat center/cover;
}

#contFour {
    background: url(resources/images/ready-player-one.jpg) no-repeat center/cover;
}

#user img {
    border-color: #E50914;
}

.fa-circle {
    color: #E50914;
}

.fa-chevron-left {
    color: rgba(255, 255, 255, .2);
}

#notif,
#user,
.trailer footer button {
    background-color: rgba(255, 255, 255, .3);
}

#search input {
    background-color: transparent;
}

#search input::placeholder {
    color: white;
}

#search input:focus {
    outline: none;
}

#bell {
    font-size: 24px;
}

#badge {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 10px;
}

h1 {
    font-size: 1.3rem;
}

h2 {
    font-size: 1rem;
}

h3 {
    font-size: .8rem;
}

#watch {
    font-size: .8rem;
    background-color: #E50914;
    box-shadow: 0 0 10px #E50914;
}

#plus {
    font-size: 1.4rem;
    background-color: #99a;
}

#featured {
    background: url(resources/images/EEA-1.jpg) no-repeat center/cover;
}

#featImgs img {
    height: 2.5rem;
    width: 5rem;
}

#featImgs img,
.pop,
.cont {
    border-radius: .5rem;
    transition: all 0.3s;
}

#featImgs img:first-child {
    height: 3rem;
    width: 6rem;
    box-shadow: -3px 3px 2px rgba(230, 10, 21, 1);
}

.pop {
    width: 100%;
    height: 9rem;
    box-shadow: inset 0px -60px 32px rgba(0, 0, 0, .9);   
}

/* .pop:hover, .cont:hover, #featImgs img:hover, .trailer:hover {
    transform: scale(1.1);
} */

.pop>footer>div>div {
    font-size: .7rem;
}

.pop i {
    font-size: 1.2rem;
    margin-right: 8px;
}

.pop footer {
    background-color: black;
    border-bottom-right-radius: .5rem;
    border-bottom-left-radius: .5rem;
}

.cont {
    width: 100%;
    height: 6rem;
    position: relative;
    background: url(resources/images/pillars.png) no-repeat center/cover;
    padding: 8px 6px;
    border-radius: 8px;
    box-shadow: inset 0px -20px 24px rgba(0, 0, 0, .7);
}

.cont i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, .3);
}

#selRed {
    background-color: #E50914;
}

progress[value] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    margin: none;
    border-radius: 9999px;
    background: white;
    height: 3px;
}

progress[value]::-moz-progress-bar {
    border-radius: 9999px;
    background-color: #E50914;
}

progress[value]::-webkit-progress-bar {
    border-radius: 9999px;
    background-color: white;
}

progress[value]::-webkit-progress-value {
    border-radius: 9999px;
    background-color: #E50914;
}

#tile {
    perspective: 25px;
    width: 100%;
}